# Fi# Python
*.pyc
__pycache__/

# Django
*.sqlite3
db.sqlite3
.env

# Virtual env
venv/
.env/
Pipfile.lock

# Static
staticfiles/
media/

# Model files
*.pkl
*.joblib

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
